
/**********************\
	Trigger Options
	---------------
	
	Update the relevant
	values below. 
	
\**********************/




/************
	1. Grids
*/


/* A.1: Do you want to use Bourbon Neat for grids? */

$bourbon-neat: false!default; 
// If false, ignore A2, and go straight to B. 


/* A.2: Fill out the maximum width, and number of grids for Desktop, Tablet and Mobile */ 

$desktop-width: 900px!default;
$desktop-grids: 12!default;



/* B: If you aren't going to use Bourbon Neat what width is your site? */

$non-responsive-width: 900px!default; 