
/********
	Main
*/

div.main-content {
	@include clearfix;
	padding: 40px $container-padding 0;
	
	.container {
		@include clearfix;
	}
}

hr {
	margin: 1em 0; 
}


.ipad-outter {
	@include size(800px 900px);
	
	background: #f9f9f9;
	border: 1px solid #eeeeee;
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	border-radius: 10px;
	margin: 0 auto;
	padding: 30px 0;
}

.ipad-inner {
	@include size(740px 100%);
	background: $emailbackground;
	margin: 0 auto;
	overflow-x: scroll;
	padding: 25px 0;
	text-align: center;
	
	img {
		max-width: 720px;
	}
}


@media screen and (max-width: 1300px) {
	
	.container {
		float: right;
		margin: 0;
	}
	
	.ipad-outter {
		margin: 0;
		float: right;
	}
}


@media screen and (max-width: 1140px) {
	
	header {
		display: none;
	}
	
	.container,
	.ipad-outter  {
		float: none;
		margin: 0 auto;
	}
}